<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <style>
       
        .custom-navbar {
            background-color: #333; 
        }

       
        .header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/empform']">Employees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/welcome']">Welcome</a>
              </li>
            </ul>
        </div>
    </nav>
    <div class="header">
        <h1>Employee Management System</h1>
    </div>
    <router-outlet></router-outlet>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
